/* TODO: extract non-essential styles to demo.css. */

#my-scroll-container {
  height: 300px;
  width: 400px;
  list-style: none;
  border: 1px solid black;
  overflow: scroll;
  padding: 0;
  margin: 0;
}

#my-scroll-container li {
  height: 100px;
  width: 100%;
  background: white;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 100px;
}

#my-scroll-container li:not(:first-child) {
  border-top: 1px solid black;
}
